.config/
.DS_Store
.npm/
.vscode
app/static/stylesheets/*.css*
auth
lcov.info
node_modules
npm-debug.log
test-output
*.tgz
helm/**/*.lock
.env
dist/
html-reports
.tmp/

# Generated views
_layout.html
